.titulo{
  padding-top:100px;
  font-size: 400px;
}

.indice{
  font-size: 50px;
  margin-bottom:50px;
}

.indice3{
  padding-top:100px;
}

.indice2{
  mmargin-top:100px;
  mmargin-bottom:100px;
  padding-top:200px;
  padding-right:50px;
  padding-left:50px;
  padding-bottom:200px;
  background-color: rgba(0,0,0,0.7);
}


.indice2:hover{
  border:solid 2px white;
}

.indice2{
width:100%;
height:100%;
}

.copyright2{
  font-size:10px;
  padding-top:50px;
}


@media screen and (max-width: 1100px) {
	.indice{
		font-size: 30px;
	}
}
